<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ECommerceSuite">
<listeners>
<listener class-name ="com.ecommerce.utilities.Reporting"/> 
</listeners>
  <test name="ECommerceSuiteTCs">
  <parameter name="browser" value="chrome"/>
    <classes> 
      <class name="com.ecommerce.testCases.TC_Logintest_001"/>
      <class name="com.ecommerce.testCases.TC_AddCustomer_002"/>
      <class name="com.ecommerce.testCases.TC_searchcustomer_001"/>
      <class name="com.ecommerce.testCases.TC_Deletecustomer_004"/>
    </classes>
    </test> 
  <!--    
  <test name="TC2">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.ecommerce.testCases.TC_Logintest_001"/>
       
    </classes>
  </test> -->
</suite> 
